<div class="container">
  <div class='bg-white p-4 rounded-lg shadow-md mb-8'>
    <h3>Tes informations:</h3>
    <p>Age: <%= @visitor.age %></p>
    <p>Besoins:</p>
    <ul>
    <% @visitor.needs.map(&:name).each do |n| %>
      <li>- <%= n %></li>
    <% end %>
    </ul>
    <% if @visitor.handicaps.present? %>
      <p>Handicaps: <%= @visitor.handicaps.map(&:name) %></p>
    <% end %>
  </div>
    <% if @visitor.needs.present? %>
        <h2>Voici les dispositifs que nous avons identifié</h2>
        <% @compatible_schemes.each do |s| %>
          <div class='bg-white p-4 rounded-lg shadow-md mb-8'>
            <h3><%= s.name %></h3>
            <p><%= s.description %></p>
            <p>Besoins: <%= s.needs.map(&:name).join(' ,') %></p>
          </div>
        <% end %>
        <% if @compatible_schemes.empty? %>
          <p>Nous n'avons pas trouvé de dispositifs vous concernant.</p>
          <p>Notre base de données de dispositifs est en permanente évolution.</p>
        <% end %>
    <% else @visitor.needs.present? %>
    <div class='bg-white p-4 rounded-lg shadow-md'>
    <h1>Merci 🙏</h1>
    <p>Quels besoins ressens-tu ? Cela nous aidera à te proposer les dispositifs les plus pertinents !</p>
      <div class='flex bg-white p-4 rounded-sm'>
        <form action="update-visitor-needs">
        <% @possible_needs.each do |need|  %>
          <input type="checkbox" value="<%= need %>" name='<%= need %>'>
          <label for="<%= need %>" id="<%= need %>"><%= need %></label><br>
        <% end %>
         <input type="hidden" id="visitor_id" name="visitor_id" value="<%= @visitor.id %>">
        <button type="submit" class='mt-8 center button bg-blue-500 p-3 text-white rounded-lg'>Voir les aides</button>
      </form>
      </div>
    </div>
    <% end %>

